body { background-color: #cecede; margin: 10px; margin-left: 6px; margin-right: 8px; text-align: center }
td { text-align: left }
body, td, th, input { font-family: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif; font-size: 12px; color: #000066 }
.bodycol { background-color: #ffffff }
#dppage { background-color: #ffffff; width: 100%; text-align: left; padding: 0px; border-right: solid 1px #bebec8; border-left: solid 1px #bebec8 }
#dppage_inner1 { width: 100%; float: left }
.dppage_inner2 { position: relative; margin: 15px; margin-top: 12px; margin-bottom: 0px }
#dpobinv { width: 100%; text-align: left; padding: 0px }
#dpobinv_inner1 { width: 100%; float: left }
.dpobinv_inner2 { position: relative }
#titlebar { height: 19px; background-color: #555585; background-image: url(images/topbarm.gif); color: white; font-weight: bold }
#titlebarleft { height: 18px; padding-top: 1px; padding-left: 10px; position: relative; float: left; background-image: url(images/topbarl.gif); background-repeat: no-repeat; background-position: top left }
#titlebarright { height: 18px; padding-top: 1px; padding-right: 9px; position: relative; float: right; background-image: url(images/topbarr.gif); background-repeat: no-repeat; background-position:  top right }
#titlebarright a:link { color: #fff; font-weight: normal }
#titlebarright a:hover { color: #fff; font-weight: normal }
#titlebarright a:visited { color: #fff; font-weight: normal }
#titlebarright a:active { color: #fff; font-weight: normal }
.dpobject { background-color: #ffe0e0; width: 190px; padding: 10px; margin-top: 10px; margin-right: 10px; margin-bottom: 0px; float: left }
.dpobject2 { background-color: #e0ffe0; width: 72px; padding: 5px; margin-top: 10px; margin-right: 10px; float: left }
.title_img, .title_img_me { position: relative; text-align: center; width: 100px; height: 126px; font-size: 10px; font-family: verdana,arial,helvetica; margin-top: 1px; margin-right: 10px; margin-bottom: 0px; float: left }
.title_img_me { font-weight: bold }
.imgtxt { font-size: 10px; font-family: verdana,arial,helvetica }
#navigation { }
#messages { float: left; margin-top: 0px; margin-bottom: 0px }
#dploginout { display: inline; margin: 0px; padding: 0px }
#dpmessagearea { width: 100%; text-align: center; background-color: #ffffff; padding: 0px; border-bottom: solid 1px #8080b0; border-right: solid 1px #bebec8; border-left: solid 1px #bebec8 }
#dpmessagearea_inner { margin-left: 15px; margin-right: 11px; margin-top: 0px; margin-bottom: 0px; text-align: left; }
#box, #helpbox { border: solid 1px #000066; padding: 10px }
#helpbox { float: left; margin-bottom: 5px }
#helpbox tt { color: #0000CC }
#lh { line-height: 16px; font-size: 16px; clear: both }
#actionform, ul { margin-bottom: 0px }
#actionform { margin: 0px; float: left; width: 99%; display: block }
#dpaction { width: 100%; background-color: #f7f7fc; border: solid 1px #c9c9f0 ; padding-left: 2px; padding-right: 2px }
form { display: inline; margin-top: 0px }
h1, h2, h3 { margin: 0px }
h1 { font-size: 18px }
h2 { font-size: 16px }
h3 { font-size: 14px }
a:link { color: #000066 }
a:visited { color: #000066 }
a.menu { font-weight: bold }
a.navtrail:link { color: #ffffff }
a.navtrail:visited { color: #ffffff }
a.dpsmall { font-size: 11px; font-family: verdana,arial,helvetica }
.col2 { color: #666666; }
.dph, .boxh { color: #8B4513; font-size: 22px; font-weight: normal; margin-bottom: 4px }
.boxh { margin-bottom: 4px }
.arr,.arrr,.arr2 { margin-top: 2px }
.arr,.arr2 { margin-right: 4px;  }
.arrr { margin-left: 4px; }
.arr { display: block; float: left; }
.block { display: block; float: left; margin-right: 5px; margin-top: 2px }
.block2 { display: block; float: left; margin-right: 5px; margin-top: 5px }
#navlink {position: relative; float: left }
.arrnav { display: block; float: left; margin-left: 6px; margin-right: 6px; margin-top: 2px }
.notop { margin-top: 0px }
.newsh { font-weight: bold }
.newsd { font-size: 11px; text-transform: uppercase }
#helptext tt { color: #0000CC }
.me { font-weight: bold; }
#dpfooter { float: left; font-size: 10px; font-family: verdana; margin-left: 5px; margin-top: 4px; color: #8e8e9f }
#dpfooter a { color: #8e8e9f }
.smalltext1 { font-size: 10px; font-family: verdana }
#butbottom, #buttop { cursor: pointer }
#butbottom { margin-bottom: 2px }
#buttop { margin-top: 3px }
#dltable td { background-color: #e0e0e0 }
#dlreq { margin-top: 0px; margin-bottom: 0px; padding-left: 0px; margin-left: 2em }
#dlreq li { margin-top: 5px }
.dpimage { cursor: pointer }
.dpimage_move { cursor: move }
.actionwindow
{
    display: none;
    padding: 0px;
    position: absolute;
    z-index: 7;
    background-color: #eeeeee;
    opacity: 0.95;
    -moz-opacity: 0.95;
}
.actionwindow, .actionwindow_inner
{
    cursor: pointer;
    font-weight: normal;
    text-align: left;
}
.actionwindow_inner
{
    display: block;
    border: solid 1px black;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.am, .am_deep, .am_selected, .am_deep_selected { overflow: hidden; white-space: nowrap }
.am { position: relative; background-color: transparent; color: #000066; padding-bottom: 1px; padding-left: 4px; padding-right: 4px; font-size: 11px; line-height: 14px; font-family: arial,verdana,'Bitstream Vera Sans',helvetica,sans-serif }
.am_deep { background: transparent url(images/marr_out.gif) no-repeat top right; }
.am_deep_ghosted { background-image: none !important }
.am_selected { background-color: #000066; color: #fff }
.am_deep_selected { background: #000066 url(images/marr_over.gif) no-repeat top right; }
.am_deep_selected_ghosted { background-image: none !important }
.am_ghosted { color: graytext !important }
.dpwindow_default, .dpwindow_drink, .dpwindow_error, .dpwindow_todo, .dpwindow_src
{
    display: none;
    position: absolute;
    cursor: move;
    text-align: left;
}
.dpwindow_default {
    left: 75px;
    top: 50px;
    width: 382px;
    background-color: #ffcc00;
    border: solid 1px black;
    padding: 15px;
    display: block;
    opacity: 0.95;
    -moz-opacity: 0.95;
    z-index: 5;
}
.dpwindow_drink {
    left: 75px;
    top: 50px;
    width: 300px;
    background-color: #ff9999;
    border: solid 1px black;
    padding: 15px;
    display: block;
    opacity: 0.90;
    -moz-opacity: 0.90;
    z-index: 5;
}
.dpwindow_error {
    left: 75px;
    top: 50px;
    width: 300px;
    background-color: #ff6666;
    border: solid 1px black;
    padding: 15px;
    display: block;
    opacity: 0.97;
    -moz-opacity: 0.97;
    z-index: 5;
}
.dpwindow_todo {
    left: 40px;
    top: 35px;
    width: 560px;
    background-color: #00ccff;
    border: solid 1px black;
    padding: 15px;
    display: block;
    opacity: 0.94;
    -moz-opacity: 0.94;
    z-index: 5;
}
.dpwindow_src {
    left: 20px;
    top: 10px;
    width: 650px;
    background-color: #CFD5E0;
    border: solid 1px black;
    padding: 15px;
    display: block;
    opacity: 0.97;
    -moz-opacity: 0.97;
    z-index: 5;
}

